body {
  background-color: #212121;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#svg-container {
  zoom: 1.6;
}
#id-repo-ghost-instagram .container-g-icons g,
#id-repo-ghost-facebook .container-g-icons g,
#id-repo-ghost-linkelind .container-g-icons g,
#id-repo-ghost-twich .container-g-icons g {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

#id-repo-ghost-instagram:hover .container-g-icons g,
#id-repo-ghost-facebook:hover .container-g-icons g,
#id-repo-ghost-linkelind:hover .container-g-icons g,
#id-repo-ghost-twich:hover .container-g-icons g {
  opacity: 1;
}

#id-repo-ghost-twich,
#id-repo-ghost-instagram,
#id-repo-ghost-facebook,
#id-repo-ghost-linkelind {
  cursor: pointer;
}
#id-03-instagram,
#id-01-facebook,
#id-04-linkelind,
#id-02-twich,
.react-path-v1,
.react-path-v2 {
  transition: 0.5s ease-in-out;
}

#id-repo-ghost-instagram:hover #id-03-instagram,
#id-repo-ghost-facebook:hover #id-01-facebook,
#id-repo-ghost-linkelind:hover #id-04-linkelind,
#id-repo-ghost-twich:hover #id-02-twich {
  transform: translate(0px, -10px);
}

#id-repo-ghost-instagram:hover .react-path-v1,
#id-repo-ghost-facebook:hover .react-path-v1,
#id-repo-ghost-linkelind:hover .react-path-v1,
#id-repo-ghost-twich:hover .react-path-v1 {
  transform: translate(0px, -6px);
}

#id-repo-ghost-instagram:hover .react-path-v2,
#id-repo-ghost-facebook:hover .react-path-v2,
#id-repo-ghost-linkelind:hover .react-path-v2,
#id-repo-ghost-twich:hover .react-path-v2 {
  transform: translate(0px, -2px);
}

@keyframes bounce-lines {
  0%,
  100% {
    transform: translateY(-3);
  }
  50% {
    transform: translateY(-3px);
  }
}

#line-animation-v1 {
  animation: bounce-lines 3s infinite ease-in-out;
}
#line-animation-v2 {
  animation: bounce-lines 3s infinite ease-in-out;
  animation-delay: 0.2s;
}
